{% extends 'base.html' %}

{% block title %}
    Одежда
{% endblock %}

{% block content %}
<h1>Ассортимент одежды</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Тип</th>
            <th>Производитель</th>
            <th>Цена</th>
            <th>Скидка</th>
        </tr>
    </thead>
    <tbody>
        {% for i in assort %}
            <tr>
                <td>{{ i.Type_s }}</td>
                <td>{{ i.Country }}</td>
                <td>{{ i.Price }}</td>
                <td>{{ i.Sale }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}